[submodule "15-nought_coin/solution-foundry/lib/forge-std"]
	path = 15-nought_coin/solution-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "15-naught_coin/solution-foundry/lib/openzeppelin-contracts"]
	path = 15-naught_coin/solution-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "16-preservation/solution-foundry/lib/forge-std"]
	path = 16-preservation/solution-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "20-stop/solution-foundry/lib/forge-std"]
	path = 20-stop/solution-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "21-shop/solution-foundry/lib/forge-std"]
	path = 21-shop/solution-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "22-dex/solution-foundry/lib/forge-std"]
	path = 22-dex/solution-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "22-dex/solution-foundry/lib/openzeppelin-contracts"]
	path = 22-dex/solution-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "23-dex2/solution-foundry/lib/forge-std"]
	path = 23-dex2/solution-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "23-dex2/solution-foundry/lib/openzeppelin-contracts"]
	path = 23-dex2/solution-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
